@*@section Styles {
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-touch-carousel/dist/css/bootstrap-touch-carousel.css" />
    <link rel="stylesheet" href="~/css/site.css" />
        }
*@
@using System.Web.Helpers
@using Jarloo.CardStock.Models
@using StockQuote.Models
@model WatchlistViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Stock Quote";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string WatchlistName = @Model.Name + (@Model.Description!=null? Model.Description : "");
}

<h2>Watchlist: @WatchlistName</h2>
<label>Date: @Model.Date</label>
        @{
//List<Jarloo.CardStock.Models.Quote> list = new List<Jarloo.CardStock.Models.Quote>();
//list.Add(Model);
//var grid = new WebGrid(list);
//var result = ObjectInfo.Print(Model);
//var html = new HtmlString(result.ToHtmlString());

        }
    @*
    <select id="Date">
    <option>Model.Date</option>

    <select id="Watchlist">
    <option>Model.Name - Model.Description</option>

        </select>
    *@
        @*style="width:35  %;border: 1px solid black;"*@
        <div class="table-bordered">
            <table class="table table-bordered table-striped responsive-utilities">
                <tr><td>Stock&nbsp;</td><td class="dollarsign">Price&nbsp;</td><td>Date&nbsp;</td></tr>
                @{
                    foreach (Quote quote in Model.Quotes)
                    {
                        string lastTradedDate = @quote.LastTradeDate.HasValue ? @quote.LastTradeDate.Value.ToString("f") : @quote.LastUpdate.ToString("f");

                        <tr><td>@quote.Symbol&nbsp;</td><td class="dollarsign">@quote.LastTradePrice&nbsp;</td class="dollarsign"><td>@lastTradedDate&nbsp;</td></tr>
                    }
                }
            </table>

            @*
                 @html
                 @grid.GetHtml()
                var result = ObjectInfo.Print(Model);
            @result.ToHtmlString();*@

        </div>


@*@foreach (var property in ViewData.ModelMetadata.Properties)
    {
            <div class="editor-line">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.Editor(property.PropertyName)
            </div>
        }
*@